<section>
  <h1 class="w-50 mx-auto">Forget Password</h1>
  @if(step===1)
  {
    <form [formGroup]="verifyEmail" class="w-50 mx-auto my-5" (ngSubmit)="verifyEmailSubmit()">
      <div>
        <label for="email">Email: </label>
        <input formControlName="email" type="email" id="email" class="form-control" [ngClass]="{
          'is-valid':!verifyEmail.get('email')?.errors &&verifyEmail.get('email')?.touched,
          'is-invalid':verifyEmail.get('email')?.errors&&(verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty)
        }">
        @if(verifyEmail.get('email')?.errors &&(verifyEmail.get('email')?.touched||verifyEmail.get('email')?.dirty))
        {
          <div class="text-danger">
            @if(verifyEmail.get('email')?.getError('required'))
            {
              <p class="m-0 text-danger">Email Is Required</p>
            }
            @else if (verifyEmail.get('email')?.getError('email')) {
              <p class="m-0 text-danger">Enter Valid Email </p>
            }
          </div>
        }

      </div>
      <button [disabled]="verifyEmail.invalid" class="btn-main my-2">Verify Email</button>
    </form>
  }
  @else if(step===2)
  {
    <form [formGroup]="verifyCode" class="w-50 mx-auto my-5" (ngSubmit)="verifyCodeSubmit()">
      <div>
        <label for="resetCode">resetCode: </label>
        <input formControlName="resetCode" type="text" id="resetCode" class="form-control" [ngClass]="{
          'is-valid':!verifyCode.get('resetCode')?.errors &&verifyCode.get('resetCode')?.touched,
          'is-invalid':verifyCode.get('resetCode')?.errors&&(verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty)
        }">
        @if(verifyCode.get('resetCode')?.errors &&(verifyCode.get('resetCode')?.touched||verifyCode.get('resetCode')?.dirty))
        {
          <div >
            @if(verifyCode.get('resetCode')?.getError('required'))
            {
              <p class="m-0 text-danger">Reset Code Is Required</p>
            }
            @else if(verifyCode.get('resetCode')?.getError('pattern')) {
              <p class="m-0 text-danger">Enter A Valid Code </p>
            }
          </div>
        }
      </div>
      <button [disabled]="verifyCode.invalid" class="btn-main my-2">Verify Code</button>
    </form>
  }
  @else if(step===3)
  {
    <form [formGroup]="resetPassword" class="w-50 mx-auto my-5" (ngSubmit)="resetPasswordSubmit()">
      <div>
        <label for="email">Email: </label>
        <input readonly formControlName="email" type="email" id="email" class="form-control" [ngClass]="{
          'is-valid':!resetPassword.get('email')?.errors &&resetPassword.get('email')?.touched,
          'is-invalid':resetPassword.get('email')?.errors&&(resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty)
        }">
        @if(resetPassword.get('email')?.errors &&(resetPassword.get('email')?.touched||resetPassword.get('email')?.dirty))
        {
          <div >
            @if(resetPassword.get('email')?.getError('required'))
            {
              <p class="m-0 text-danger">Email Is Required</p>
            }
            @else if (resetPassword.get('email')?.getError('email')) {
              <p class="m-0 text-danger">Enter Valid Email </p>
            }
          </div>
        }
      </div>
      <div>
        <label for="newPassword">newPassword</label>
        <input  [ngClass]="{
          'is-valid':!resetPassword.get('newPassword')?.errors &&resetPassword.get('newPassword')?.touched,
          'is-invalid':resetPassword.get('newPassword')?.errors&&(resetPassword.get('newPassword')?.touched||resetPassword.get('newPassword')?.dirty)
        }" id="newPassword" type="password" class="form-control" formControlName="newPassword">
        @if(resetPassword.get('newPassword')?.errors &&(resetPassword.get('newPassword')?.touched||resetPassword.get('newPassword')?.dirty))
        {
          <div >
            @if(resetPassword.get('newPassword')?.getError('required'))
            {
              <p class="m-0 text-danger">Password Is Required</p>
            }
            @else if (resetPassword.get('newPassword')?.getError('pattern')) {
              <p class="m-0 text-danger">must be at least 6 chars</p>
            }
          </div>
        }
      </div>
      <button [disabled]="resetPassword.invalid" class="btn-main my-2">reset Password</button>
    </form>
  }







</section>
